/* h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
}
*/
.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #000;
    z-index: 1000;
    font-family: "Bebas Neue", sans-serif;
  }
  
  .skip-link:focus {
    top: 0;
  }

footer {
    font-size: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Bebas Neue", sans-serif;
}


:root {
    --bg-color: #F0FFFF;
    --snd-bg-color: #ADD8E6;
    --text-color: #000; 
    --main-color: #1434A4;
}


body {
    color: var(--text-color);
}

section {
    padding: 5rem 9% 2rem;

}

h1 {
    font-family: "Bebas Neue", sans-serif;
}

.home-content h1{ 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-weight: 70;
    line-height: 1.3;
    padding: 20px;
} 

.home-content {
    display: grid;
    place-items: center;
    width: 100%;
}
  
.home-content h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    display: inline-block;
    opacity: 0; /* Initially hide the text */
    animation: appear 8s forwards;
}

h2 {
    font-family: "Bebas Neue", sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: #89CFF0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-family: "Bebas Neue", sans-serif;
}

.navbar a {
    display: inline-flex;
    font-size: 25px;
    color: #000000;
    margin-left: 4rem;
    font-weight: 700;
    padding: 10px;
    border-radius: 5px;
    font-family: "Bebas Neue", sans-serif;
}


.home {
    background-position: center;
    background-size: cover;
    position: relative;
}


.navbar a:hover,
.navbar a.active {
    color: #fff;
    background-color: #191970;
}
@media only screen and (min-width: 768px) {
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    position: relative;
}

.home-content h1{ 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    font-weight: 70;
    line-height: 1.3;
    padding: 20px;
} 

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span{
    color: var(--main-color);
}


.home-content h2 {
    display: flex;
    font-size: 30px;
    margin-top: 20px;
    color: var(--main-color);
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    justify-content: center;

}


.home-img img {
    width: 25vw;
    border: 5px solid #ADD8E6;
    border-radius: 75px;
}

.home-content p {
    font-size: 22px;
    font-family: "Raleway", sans-serif;
}
    
}
    .home-img img {
        width: 25vw;
        border: 5px solid #ADD8E6;
        border-radius: 75px;
        margin-top: 20px;
    }

    .home-content h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px; 
        font-weight: 700;
        color: #0096FF;
    }

    .home-content h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        font-weight: 700;
        color: #0096FF;
        padding-bottom: 30px;
    }

    .home-content p {
        font-size: 16px;
        text-align: center;
        padding-bottom: 10px;
    }
    .home-content h1 {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 80px;
        font-weight: 70;
        line-height: 1.3;
        padding: 20px;

    }
    
    .home-img img {
        width: 25vw;
        border: 5px solid #ADD8E6;
        border-radius: 90px;
        justify-content: center;
    }
    
    .home-content p {
        font-size: 2.1rem;
        font-family: "Raleway", sans-serif;
        margin-right: 10px;
    }

    h3 {
        font-family: "Bebas Neue", sans-serif;

    }

    span{
        color: var(--main-color);
    }




.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--snd-bg-color);
}

.about-img img {
    width: 35vw;
}

.heading{
    text-align: center;
    font-size: 4.5rem;
}

.about-content-overlay p {
    font-size: 18px;

}

.about-img-container {
    position: relative;
    width: 100%; 
    margin: 0 auto; 
  }

  .about-img-container img {
    height: 100%;
    width: 100%;
    display: block; 
    opacity: 70%;
    top: 30%;
    position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 40px;
  }
  .about-content-overlay {
    position: absolute;
    top: 160%;
    left: 50%;
    width: 75%;
    padding: 20px;
    background: rgb(255, 255, 255);
    border: 3px solid #f1f1f1;
    opacity: 90%;
    z-index: 2;
    line-height: 1.6;
    text-align: center;
    transform: translate(-50%, -50%);

  }
  .about-content-overlay h1{
    font-size: 50px;
    font-style: bold;
    }

  .about-content-overlay h2{
    font-size: 30px;
    font-style: bold;
    }

  .about-content-overlay p{
  font-size: 15px;
  font-style: bold;
  font-family: "Raleway", sans-serif;
  font-weight: 400;  

}

.learn-more-btn {
    background-color: #0F52BA;	
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
    border-radius: 90px;
  }

@media only screen and (min-width: 768px) {
} /* tablet*/
.header {
    position: static;
}
#container h1{
    padding: 20px;
    margin-top: 10px;
}
.panel {
    width: 500px;
    height: 500px;
}

@media only screen and (min-width: 992px) {
/* desktop */
.about-img-container {
    position: relative;
    width: 80%;
    margin: 0 auto;
  }
  
  .about-img-container img {
    height: 100%;
    width: 100%;
    display: block;
    opacity: 0.7;
    position: relative; 
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .about-content-overlay {
    position: absolute;
    top: 145%;
    left: 70%;
    right: 0%;
    bottom: 20%;
    width: 45%;
    height: 65%;
    padding: 20px;
    background: rgb(255, 255, 255);
    border: 3px solid #f1f1f1;
    opacity: 0.9;
    z-index: 2;
    line-height: 2.0;
    text-align: center;
    justify-content: center;
  }
  .learn-more-btn {
    background-color: #0F52BA;	
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 30px;
    cursor: pointer;
  }
  .about-content-overlay h1{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 60px;
    font-style: bold;
    margin: 0;

    }
    .about-content-overlay p{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        font-style: bold;
        }

        .panel {
            width: 600px;
            height: 600px;
        }    
}


#container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    gap: 35px;
    padding: 20px;
}

.card {
    background-color:#ADD8E6;
    padding: 20px;
    border-radius: 10px;
}

#main h1 {
    font-size: 60px;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.card h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 10px;

}

.card h3 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
    
}

.card p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    font-family: "Raleway", "sans-serif";
    font-style: bold;
    color: #191970;	
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    height: 0;
    overflow: hidden;
}

.card:hover p {
    opacity: 1;
    height: auto; /* Update height as needed, or use another animation method */
    margin-top: 10px;
}

.card img{
    width: 100%;
    opacity: 80%;
    padding: 10px;
    border-radius: 75px;
}

.message {
    background-color: #87CEEB;
    margin-top: 20px;
    padding: 25px;
    position: relative;
}

.message h2 {
    font-size: 35px;
    opacity: 0; /* Initially hide the text */
    animation: appear 5s forwards;
}

.message h3 {
    font-size: 25px;
    opacity: 0; /* Initially hide the text */
    animation: appear 5s forwards;
}

.message p {
    font-size: 20px;
    font-family: "Raleway", "sans-serif";
    line-height: 1.6;
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0; 
    animation: appear 5s forwards;
  }
  
  @keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1; 
    }
  }

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top:10px;
    font-size: 18px;
    color: #191970;	
    transition: .5s ease;
    text-decoration: underline;
    font-family: 'Raleway', 'sans-serif';
}

.slideshow-container {
  width: 80%;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: black;
  opacity: 80%;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: black;
}

.text {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: #000;
  opacity: 80%;
  font-family: 'Raleway', sans-serif;
}

@media only screen and (min-width: 768px) {
    .text {
        color: #f2f2f2;
        font-size: 16px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
        background-color: #000;
        opacity: 80%;
        font-family: 'Raleway', sans-serif;
      }
      .numbertext {
        color: #f2f2f2;
        font-size: 20px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
        background-color: black;
        opacity: 80%;
      }
      .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        background-color: black;
        opacity: 80%;
      }
      .slideshow-container {
        width: 50%;
        position: relative;
        margin: auto;
      }
    }

.numbertext {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  background-color: black;
  opacity: 80%;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 5px;
  padding: 10px;
  color: white;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#destination-container h1{
    font-size: 60px;
    text-align: center;
    margin: 25px;
}

#Hungary h2 {
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    color: white;
    font-family: "Raleway", sans-serif;
}

#Hungary {
    background-color: #4682B4;	
}


#Italy h2 {
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    color: white;
    font-family: "Raleway", sans-serif;
}

#Italy {
    background-color: #4682B4;	
}

#Greece h2 {
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    color: white;
    font-family: "Raleway", sans-serif;
}

#Greece {
    background-color: #4682B4;	
}

#destination-header h2{
    font-size: 40px;
    text-align: center;
    margin: 25px;
}

#France h2 {
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    color: white;
    font-family: "Raleway", sans-serif;
}

#France {
    background-color: #4682B4;	
}

  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
    height: 100%;
  }
  
  .panel {
    width: 300px;
    height: 300px;
    margin: 10px;
    border-radius: 98px;
    overflow: hidden;
    position: relative;
    background-color: #6082B6;
    transition: background-color 0.3s ease;
  }
  
  .panel-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
  }

  .panel-link {
    position: absolute;
    color: white;
    font-size: 60px;
    transition: opacity 0.3s ease;
    font-family: "Bebas Neue", sans-serif;

  }
  
.panel:hover .panel-link {
    opacity: 1;
}

  .panel-content img {
    opacity: 90%;
    width: 100%;
    height: 100%;
  }  
  

  .panel:hover {
    background-color: black;
    opacity: 80%;
  }
  
  .panel:hover .caption {
    color: white;
  }
  

.resources-header h1 {
    font-size: 60px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
}

.resources-header h2 {
    font-size: 40px;
    text-align: center;
    margin: 10px;
    color: var(--main-color);
}

.resource-info {
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 490px;
    background-color: #ADD8E6;
    color: black;
    font-size: 40px;
    padding: 10px;
    margin: 10px;
  }

  #resource-info-text h1 {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: 'Bebas Neue', sans-serif;
    padding: 0px;
    margin: 0;
    top: 10px;
  }

  #resource-info-text h2 {
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 30px;
  }

  #todo-app {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #todo-form input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  #todo-form button {
    padding: 10px 20px;
    background-color: #1434A4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #todo-form button:hover {
    background-color: #4682B4;
  }
  
  #todo-list {
    list-style: none;
    padding: 0;
  }
  
  #todo-list li {
    background-color: #f9f9f9;
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #todo-app h1 {
    font-size: 30px;
    text-align: left;
    padding: 0;

  }

  @media only screen and (min-width: 768px) {

    #todo-app {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      #todo-app h1 {
        font-size: 45px;
        text-align: left;
        padding: 0;

      }
      
      #todo-form input[type="text"] {
        width: 70%;
        padding: 10px;
        border: 2px solid #ddd;
        border-radius: 4px;
        margin-right: 10px;
      }
      
      #todo-form button {
        padding: 10px 20px;
        background-color: #1434A4;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
      }
      
      #todo-form button:hover {
        background-color: #4682B4;
      }
      
      #todo-list {
        list-style: none;
        padding: 0;
      }
      
      #todo-list li {
        background-color: #f9f9f9;
        margin-top: 10px;
        padding: 10px;
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      #resource-info-text h1 {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 45px;
        font-family: 'Bebas Neue', sans-serif;
        padding: 30px;
        top: 20px;
      }
    
      #resource-info-text h2 {
        display: flex;
        text-align: center;
        align-items: center;
        font-size: 25px;
        font-family: 'Raleway', sans-serif;
        padding-bottom: 30px;
      }
  }